<div class="max-w-4xl mx-auto p-6 space-y-6 bg-slate-50 min-h-screen">
  <!-- Barra Superior -->
  <div class="mb-4">
    <toolBar-platos (oBusqueda)="this.busqueda.set($event)" (addDish)="showForm.set(true)" />
  </div>

  <!-- Formulario Nuevo Plato -->
  @if (this.showForm()) {
    <plato-add (cancel)="showForm.set(false)" />
  }

  <!-- Catálogo de Platos -->
  <div class="space-y-3 mt-4">
    <span class="block text-[11px] font-semibold text-slate-400 uppercase tracking-wider"
      >CATÁLOGO ({{ this.menuservice.platos().length }})</span
    >

    <div
      class="bg-white rounded-2xl border border-slate-200 divide-y divide-slate-100 overflow-visible shadow-sm"
    >
      @for (item of this.platosfiltrados(); track item.id) {
        <plato-row [plato]="item" (cancel)="this.showForm.set(false)" />
      }
    </div>
  </div>
</div>
