 <!-- BARRA DE ACCIONES STICKY (Fija al hacer scroll) -->
  <div class="sticky top-0 z-50 flex items-center justify-end gap-3 bg-gray-50/90 py-3 backdrop-blur-sm transition-all border-b border-gray-100 mb-4">

    <!-- Botón Limpiar (AZUL) -->
    <button
      type="button"
      (click)="limpiar()"
      class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg shadow-sm hover:bg-blue-700 active:scale-95 transition-all flex items-center gap-2">
      <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
      Limpiar
    </button>

    <!-- Botón Guardar Menú (VERDE) -->
    <button
      type="button"
      (click)="GuardarMenu()"
      class="px-5 py-2 text-sm font-semibold text-white bg-emerald-600 rounded-lg shadow-md hover:bg-emerald-700 disabled:bg-gray-300 disabled:cursor-not-allowed disabled:shadow-none transition-all active:scale-95 flex items-center gap-2">
      <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      Guardar menú
    </button>
  </div>
